In [193]:
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
#import urllib
import urllib.request
import pandas as pd


driver = webdriver.Chrome()
driver.get('https://www.sixnationsrugby.com/statistics/')
soup = BeautifulSoup(driver.page_source, "html.parser")

In [194]:

#h1 = driver.find_element_by_class_name('player-name')
#driver.find_element_by_id('href').send_keys('.')

#h1 = driver.find_element_by_name('h1')

#h1 = driver.find_element_by_xpath('//h1')
#h1 = driver.find_element_by_id('greatID')
#//*[@id="full-breakdown-player"]/div[2]/table/tbody/tr[1]/td[1]/a
#//*[@id="full-breakdown-player"]/div[2]/table/tbody/tr[2]/td[1]/a
#//*[@id="full-breakdown-player"]/div[2]/table/tbody/tr[1]/td[1]/a

userid_element = driver.find_elements_by_xpath('//*[@id="full-breakdown-player"]/div[2]/table/tbody/tr[1]/td[1]/a')[0]

date = userid_element.get_attribute('href')
print(date)

https://www.sixnationsrugby.com/player/?PlayGuid=HK139676&TeamId=129

In [195]:
player_names = soup.find('table', 'table sortable table-striped')
player_names_2 = player_names.find('tbody')
no_of_col = 0
#print(soup2)

for link in player_names_2.find_all('tr'):
    no_of_col = no_of_col + 1

print(no_of_col)

162

In [196]:
col=[]
k=1
for url in range():
    my_url = '//*[@id="full-breakdown-player"]/div[2]/table/tbody/tr[%s]/td[1]/a'%k
    #print(my_url)
    userid_element_2 = driver.find_elements_by_xpath(my_url)[0]
    date = userid_element_2.get_attribute('href')
    k=k+1
    col.append(date)
    #print(date)
#print(col)

In [197]:
df = pd.DataFrame()
for url in col:
    # let's parse our html
    driver.get(url)
    soup3 = BeautifulSoup(driver.page_source, "html.parser")
    #print(soup)
    info = soup3.find('tr')
    info2 = soup3.find_all('td')
    info3 = soup3.find('tbody')
    #print(info.prettify())



    #Create empty list
    col2=[]
    i=0
    j=0
    for t in info.find_all('th'):
            #print(t)
            name=t.text
            #print '%d:"%s"'%(i,name)
            col2.append((name,[]))

    for l in info3.find_all('tr'):
        k=0
        for t in info.find_all('th'):
            #print(t)
            #print '%d:"%s"'%(i,name)
            data = info2[i].text
            data = data.strip()
            data = data.replace('\n','')
            col2[k][1].append(data)    
            i=i+1
            k=k+1
            #print(i)

    playername = soup3.find('h1').find('span')
    print(playername.text)

    col2.append(('Player Name',playername.text))
    
    Dict={title:column for (title,column) in col2}
    df_filt = pd.DataFrame(Dict)
    df_filt2 = df_filt[df_filt['Date']!='Total']
    df=df.append(df_filt2)
print(df)

Hassane Kolingar
Finn Russell
         Date     Team Position Tries Conv DG Pen YC RC Pts       Player Name
0  14/02/2021  Ireland       17     0    0  0   0         0  Hassane Kolingar
0  13/02/2021    Wales       10     0    3  0   1         9      Finn Russell
1   6/02/2021  England       10     0    0  0   2         6      Finn Russell

In [192]:
df.head

<bound method NDFrame.head of           Date      Team Position Tries Conv DG Pen YC RC Pts  ...   DT   TW  \
0   14/02/2021   Ireland       17     0    0  0   0         0  ...  NaN  NaN
0   13/02/2021     Wales       10     0    3  0   1         9  ...  NaN  NaN
1    6/02/2021   England       10     0    0  0   2         6  ...  NaN  NaN
0   13/02/2021  Scotland        4     0    0  0   0         0  ...  NaN  NaN
1    7/02/2021   Ireland        4     0    0  0   0         0  ...  NaN  NaN
..         ...       ...      ...   ...  ... ..  .. .. ..  ..  ...  ...  ...
0   13/02/2021  Scotland        6     0    0  0   0         0  ...  NaN  NaN
0   13/02/2021  Scotland        9     0    0  0   0         0  ...  NaN  NaN
1    7/02/2021   Ireland       21     0    0  0   0         0  ...  NaN  NaN
0   13/02/2021     Wales       18     0    0  0   0         0  ...  NaN  NaN
1    6/02/2021   England       18     0    0  0   0         0  ...  NaN  NaN

     TT   TC   HE   PC  OPC  SPC   LW   LS
0   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
0   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
0   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
..  ...  ...  ...  ...  ...  ...  ...  ...
0   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
0   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
0   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[170 rows x 37 columns]>