In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
#import urllib
import urllib.request
import pandas as pd


driver = webdriver.Chrome()
driver.get('https://www.sixnationsrugby.com/statistics/')
soup = BeautifulSoup(driver.page_source, "html.parser")

In [8]:


userid_element = driver.find_elements_by_xpath('//*[@id="full-breakdown-player"]/div[2]/table/tbody/tr[1]/td[1]/a')[0]

date = userid_element.get_attribute('href')
print(date)

https://www.sixnationsrugby.com/player/?PlayGuid=HK139676&TeamId=129

In [9]:
player_names = soup.find('table', 'table sortable table-striped')
player_names_2 = player_names.find('tbody')
no_of_col = 0
#print(soup2)

for link in player_names_2.find_all('tr'):
    no_of_col = no_of_col + 1

6

In [10]:
col=[]
k=1
for url in range(no_of_col):
    my_url = '//*[@id="full-breakdown-player"]/div[2]/table/tbody/tr[%s]/td[1]/a'%k
    #print(my_url)
    userid_element_2 = driver.find_elements_by_xpath(my_url)[0]
    date = userid_element_2.get_attribute('href')
    k=k+1
    col.append(date)
    #print(date)
#print(col)

In [11]:
df = pd.DataFrame()
for url in col:
    # let's parse our html
    driver.get(url)
    soup3 = BeautifulSoup(driver.page_source, "html.parser")
    #print(soup)
    info = soup3.find('tr')
    info2 = soup3.find_all('td')
    info3 = soup3.find('tbody')
    #print(info.prettify())



    #Create empty list
    col2=[]
    i=0
    j=0
    for t in info.find_all('th'):
            #print(t)
            name=t.text
            #print '%d:"%s"'%(i,name)
            col2.append((name,[]))

    for l in info3.find_all('tr'):
        k=0
        for t in info.find_all('th'):
            #print(t)
            #print '%d:"%s"'%(i,name)
            data = info2[i].text
            data = data.strip()
            data = data.replace('\n','')
            col2[k][1].append(data)    
            i=i+1
            k=k+1
            #print(i)

    playername = soup3.find('h1').find('span')
    print(playername.text)

    col2.append(('Player Name',playername.text))
    
    Dict={title:column for (title,column) in col2}
    df_filt = pd.DataFrame(Dict)
    df_filt2 = df_filt[df_filt['Date']!='Total']
    df=df.append(df_filt2)
print(df)

Hassane Kolingar
Finn Russell
Adam Beard
Dan Lydiate
Chris Harris
Callum Braley
         Date      Team Position Tries Conv DG Pen YC RC Pts       Player Name
0  14/02/2021   Ireland       17     0    0  0   0         0  Hassane Kolingar
0  13/02/2021     Wales       10     0    3  0   1         9      Finn Russell
1   6/02/2021   England       10     0    0  0   2         6      Finn Russell
0  27/02/2021   England        4     0    0  0   0         0        Adam Beard
1  13/02/2021  Scotland        4     0    0  0   0         0        Adam Beard
2   7/02/2021   Ireland        4     0    0  0   0         0        Adam Beard
0   7/02/2021   Ireland        6     0    0  0   0         0       Dan Lydiate
0  13/02/2021     Wales       13     0    0  0   0         0      Chris Harris
1   6/02/2021   England       13     0    0  0   0         0      Chris Harris
0  27/02/2021   Ireland        9     0    0  0   0         0     Callum Braley

In [12]:
df.head()

         Date      Team Position Tries Conv DG Pen YC RC Pts       Player Name
0  14/02/2021   Ireland       17     0    0  0   0         0  Hassane Kolingar
0  13/02/2021     Wales       10     0    3  0   1         9      Finn Russell
1   6/02/2021   England       10     0    0  0   2         6      Finn Russell
0  27/02/2021   England        4     0    0  0   0         0        Adam Beard
1  13/02/2021  Scotland        4     0    0  0   0         0        Adam Beard